@font-face {
  font-family: 'Expressway';
  src: url('https://raw.githubusercontent.com/PixelTani/expressway-fonts/main/Expressway%20Bold%20Italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
